#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

nav h2 {
  margin: 1rem;
  font-size: 24px;
  background-color: #eecbcb;
  align-items: center;
  box-shadow: 0 5px 5px rgba(91, 44, 44, 0.5);
}

nav a {
  color: rgb(232, 48, 159);
  text-decoration: none;
  margin-left: 2rem;
  font-size: 18px;
  transition: color 0.3s;
}

nav a:hover {
  color: #6da887;
}